<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Page</title>
    <link rel="stylesheet" href="/css/cart.css" type="text/css">
</head>
<body>
    <div class="main-top">
        <div class="logo-div">
            <img src="/images/logo-removebg-preview.png" alt="Woolymo Logo" class="logo">
            <h1 class="logo-name">Woolymo</h1>
        </div>
        <div class="search-div">
            {{!-- <input type="text" placeholder="Search here" class="search-bar">
            <img src="/images/WhatsApp Image 2023-12-06 at 18.56.14_bc3f23bf.jpg" alt="Search Icon" class="search-icon"> --}}
        </div>
        <div class="space"></div>
        <div class="profile-div">
            <ul>
            {{#if currentUser}}
           <li class="list1"><a href="/profile"> <img src="{{user.image}}" alt="User Profile" class="user-profile"></a><p>{{user.name}}</p></li>
           {{else}}
           <li class="list2"><a href="/login"> <img src="/images/WhatsApp_Image_2023-12-06_at_18.56.13_adc62e0f-removebg-preview.png" alt="User Profile" class="user-profile"></a><p>Login</p></li>
           {{/if}}
           </ul>
        </div>
    </div>
    <nav class="navigation-div">
        <a href=""></a>
        <a href="/homepage" class="Home">Home</a>
        <a href="/orders" class="Orders">Orders</a>
        <a href="/products"  class="Products">Products</a>
        <a href="/cart" class="Cart">cart</a>
        <a href="/aboutus" class="Contact-us">Contact us</a>
        <a href=""></a>
    </nav>

    <div class="orders-section">
        <h2>Cart {{ec}} </h2>
    </div>
    <ul>
        {{#each cart}}
        <li>

       
    <div class="order-container">
        <div class="order-details">
           <a href="/product/{{this._id}}"> <img class="product-image" src="{{this.imageUrl.[0]}}" alt="Product Image"></a>
            <div class="product-info">
                <span class="product-name"> {{this.name}} </span>
                <div class="rating">★★★★☆</div>
            </div>
        </div>
        
        <p class="price">Price: {{ this.price }}</p>
        <p class="price">quantity: {{this.quantity}}</p>
        <div class="order-actions">
            
            {{!-- <a href="/remove/{{this._id}}">Remove</a> --}}
            <button onclick="Remove('{{this._id}}')">Remove</button>
            {{!-- <a href="/remove/{{this._id}}">Remove</a> --}}

            
        </div>
    </div>

     </li>
    {{/each}}
    </ul>
            <div class="subtotal-div">
            <pre class="total" style="font-weight: bolder;font-size: x-large; margin: 0;padding-top: 30px;color: white;">
                {{#if ec}}
                  Total amount:0.      
                  {{else}} 
                  Total amount:{{totalcost}}.      

                {{/if}}
            </pre>
            <pre style="display: flex;flex: 1;"> </pre>
        <button class="buy" style="width: 200px;transition: 1ms;" onclick="Buynow('{{user._id}}')">
            {{!-- Buy now <a href="/buynow/{{user._id}}">Buy now</a> --}}Buy now
        </button>
    </div>
    

    <script src="/scripts/remove.js"></script>
</body>
</html>